@use "./utility/forUse" as *;

*{
    box-sizing: border-box;
    margin: 0;
}



section{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .container{
        // max-width: 800px;
        width: 100%;
        gap: 1.5rem;
      
    
        h1{
                // width: 100%;
            background-color: rgb(65, 156, 65);
            color: white;
            font-size: 2.5rem;
            padding: $base-spacing 0 $s-spacing $base-spacing;
        }
        
        form{
            padding: $base-spacing;
            margin: $base-spacing;
            border: 1px solid $base-border-color;
            border-radius: $base-border-radius;


            label{
                display: block;
                font-size: 2rem;
                font-weight: 700;
            }
            input, button{
                padding:  0.8rem;
                border-radius: $base-border-radius;
                border: 1px solid $base-border-color;
            }

            button{
                background-color: rgb(56, 56, 56);
                color: white;

                &:hover{
                    background-color: rgb(149, 149, 149);
                    cursor: pointer;
                }
            }

            span{
                padding-left: 2rem;
                color: rgb(255, 98, 59);
            }

            .disabled{
                display: none;
            }

            div{
                h2{
                    padding-bottom: $xs-spacing;
                    font-size: 2rem;
                }
    
                ul{
                    list-style: none;
                    padding: 0;
                    border: 1px solid $base-border-color;
                    border-radius: $base-border-radius;
                   
    
                    li{
                        display: flex;
                        justify-content: space-between;
                        padding-left: $base-spacing;
                        align-items: center;
                        cursor: pointer;
                        word-wrap: break-word;
    
                        &:not(:last-of-type){
                            border-bottom: 1px solid $base-border-color;
                        }
    
                        button{
                            padding: $base-spacing;
                            border: 0;
                            border-radius: $base-border-radius 0 0 $base-border-radius;
                            background: green;
                             color: white;
                            font-size: 1rem;
                            cursor:pointer;
    
                            &:hover{
                                background: red;
                               
                            }
                        }
    
                        &:first-of-type{
                            button{
                                 border-radius: $base-border-radius $base-border-radius 0 $base-border-radius;
                            }
                        }
    
                        &:last-of-type{
                            button{
                                 border-radius: $base-border-radius 0 $base-border-radius $base-border-radius;
                            }
                        }
    
                    }
                    
                    .struck{
                        text-decoration: line-through;
                    }
                }
            }
        }

    }
}